@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text;
  }
}


@layer base {
  body {
    @apply antialiased;
  }
}

/* Utility classes */
@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-primary to-secondary;
  }

  .gradient-border {
    @apply border-2 border-transparent;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, #ee2720, #f98c0d) border-box;
  }

  .animate-slide {
    animation: slide 15s linear infinite;
  }

  .animate-slide-reverse {
    animation: slide-reverse 15s linear infinite;
  }

  .hover\:pause:hover {
    animation-play-state: paused;
  }
}

/* Keyframes */
@layer utilities {
  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-33.33%);
    }
  }

  @keyframes slide-reverse {
    from {
      transform: translateX(-33.33%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes crile-one-animate {
    from{
      transform: translate(-50%, -50%) rotate(-20deg);
    }
    to{
      transform: translate(-50%, -50%) rotate(20deg);
    }
  }

  @keyframes crile-two-animate {
    from{
      transform:rotate(-20deg);
    }
    to{
      transform:rotate(40deg);
    }
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}



@layer components {

  .blog-cat-list
  {
    @apply text-[16px] leading-[25px] text-[#4B5563];
  }

  .blog-cat-list li
  {
    @apply border-b-[1px] border-y-[#d9d9d9] py-2;
  }

  .blog-topic-list
  {
    @apply text-[16px] leading-[30px] text-[#4B5563];
  }

  .blog-topic-list li , .blog-cat-list li
  {
    @apply cursor-pointer transition-all duration-200 ease-in-out;
  }

  .blog-topic-list li:hover , .blog-cat-list li:hover {
    @apply text-black scale-[1.01];
  }

  .blog-topic-list li.active {
    @apply text-black scale-[1.01];
  }

  .blog-box{
    @apply cursor-pointer;
  }

  .main-category-thumbnail
  {
    @apply pt-5
  }

  .blog-box h6
  {
    @apply text-[13px] leading-[25px] pt-1 bg-gradient-to-r from-[#EE2720] to-[#F98C0D] bg-clip-text text-transparent;
  }

  .blog-box h2
  {
    @apply text-[16px] leading-[22px] text-black font-bold;
  }

  .blog-box p
  {
    @apply text-[14px] leading-[18px] pt-1 text-[#4B5563];
  }

  .blog-box img
  {
    @apply h-[190px] object-cover rounded-lg;
  }

  .blog_breadcrums
  {
    @apply text-[18px] text-[#BFC5CE] inline-block;
  }

  .blog_breadcrums li:first-child
  {
    @apply inline-block px-0;
  }

  .blog_breadcrums li
  {
    @apply inline-block px-2;
  }

  .blog-author_date
  {
    @apply pt-2
  }

  .blog-author_date li:first-child
  {
    @apply inline-block text-[16px] px-0;
  }

  .blog-author_date li
  {
    @apply inline-block text-[16px] px-4;
  }

  .blog-author_date li img
  {
    @apply inline-block text-[16px] px-1;
  }

  .blog-author_date li a
  {
    @apply inline-block text-[16px] text-[#F98C0D];
  }

  .blog_data img
  {
    @apply w-full pt-8 pb-2;
  }

  .blog_data p
  {
    @apply text-[18px] leading-[32px] text-[#4B5563] pt-2;
  }

  .blog_data h3
  {
    @apply text-[20px] font-bold text-black py-2;
  }

  .blog_data ul
  {
    @apply bg-[#F9FAFB] p-6 text-[16px] mt-2;
  }

  .blog_data ul li
  {
    @apply leading-[24px] py-1 pl-6 relative
  }

  .blog_data ul li::before
  {
    @apply content-[''] absolute left-0 w-[15px] top-[8px] h-[15px] bg-[url("/blog/right-arrow.png")] bg-no-repeat bg-[length:15px];
  }

  .blog-author_date {
    @apply flex;
  }

  .blog-author_date li {
    @apply flex items-center;
  }

  .creue-cto .cta-form {
    @apply flex flex-col gap-5 items-center;
  }

  .creue-cto .cta-form h3 {
    @apply text-[40px] font-bold text-center max-w-[500px] text-white;
  }

  .creue-cto .cta-form p {
    @apply text-[18px] font-normal text-white max-w-[600px] text-center leading-[1.4em];
  }

  .blog_data ul li ul {
    @apply px-[15px] py-[0px];
  }

  .logo-mb,
  .menuclosebtn,
  .menuopenbtn {
    @apply hidden;
  }

  .niches-slider .item {
    @apply bg-gradient-to-r from-[#F34D12] to-[#F87C10] flex flex-col gap-[20px] p-[7px] rounded-[15px] min-w-[220px] mx-[10px];
  }

  .niches-slider .item img {
    @apply rounded-[15px];
  }

  .niches-slider .item h3 {
    @apply flex flex-col gap-[5px] font-bold text-white text-[25px] leading-[1] p-[10px];
  }

  .niches-slider .item span {
    @apply font-light;
  }

  #popularniches h2 {
    @apply text-center mb-[40px];
    text-align: center !important;
    margin-bottom: 40px !important;
  }

  .niches-slider :where(.swiper-button-prev, .swiper-button-next) {
    @apply bg-white w-[50px] h-[50px] rounded-full shadow-md text-black;
    background: #fff !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    color: #000 !important;
  }

  .niches-slider :where(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 18px !important;
  }

  .new-testimonail-slider-wrapper {
    @apply relative;
  }

  .new-testimonail-slider-wrapper:before,
  .new-testimonail-slider-wrapper:after {
    content: "";
    @apply absolute top-0 h-full w-[30%] z-[5];
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }

  .new-testimonail-slider-wrapper:before {
    @apply left-0;
  }

  .new-testimonail-slider-wrapper:after {
    @apply right-0;
    transform: rotate(180deg);
  }

  .ucg-text .contentwrapper-inner {
    @apply flex flex-col items-center;
  }

  .homeblog .blog-wrapper {
    @apply pt-0;
  }

  .homeblog .blog-wrapper .blog-sidebar {
    @apply hidden;
  }

  .homeblog .blog-wrapper .main-category-thumbnail {
    @apply grid grid-cols-4 m-0 p-0;
  }

  .homeblog .blog-wrapper .main-category-thumbnail p {
    @apply block;
  }

  .homeblog .blog-main-body h1,
  .homeblog .blog-main-body p {
    @apply hidden;
  }

  .homeblog .blog-main-body {
    @apply p-0;
  }

  .homeblog .blog-wrapper .main-category-thumbnail .blog-box + .blog-box + .blog-box + .blog-box + .blog-box {
    @apply hidden;
  }

  #creator-economy {
    @apply grid gap-[30px];
    grid-template-columns: 72% 25%;
  }

  #creator-economy .creator-economy-text {
    @apply bg-[#F9FAFB] p-5 md:p-10 flex flex-col justify-center rounded-[20px];
  }

  #creator-economy .creator-enomu-value {
    @apply flex flex-col gap-5 justify-around;
  }

  #creator-economy .creator-enomu-value .item-box {
    @apply flex items-center gap-5;
  }

  #creator-economy .creator-enomu-value .item-box .content {
    @apply flex flex-col gap-1;
  }

  #creator-economy .creator-enomu-value .item-box .content h4 {
    @apply text-[29px] font-semibold leading-none;
  }

  #creator-economy .creator-enomu-value .item-box .content h5 {
    @apply text-[30px] font-bold leading-none text-transparent bg-clip-text;
    background-image: linear-gradient(to right, #EE2720, #F98C0D);
  }

  #creator-economy .creator-enomu-value .item-box img {
    @apply w-1/4;
  }

  .founder-wrapper {
    @apply grid grid-cols-[375px_375px] max-w-[800px] mx-auto gap-[50px];
  }

  .founder-wrapper .item {
    @apply relative bg-gradient-to-b from-[#F8F8F8] to-[#F67112] shadow-[0px_0px_7px_1px_rgba(0,0,0,0.25)] rounded-[20px];
  }

  .founder-wrapper .item .content {
    @apply absolute left-1/2 bottom-0 translate-x-[-50%] translate-y-[-20px] w-[90%] bg-white rounded-[20px] flex flex-col gap-[15px] p-[20px];
  }

  .founder-wrapper .item .content .social ul {
    @apply flex gap-[15px];
  }

  .founder-wrapper .item .content .social ul a {
    @apply flex items-center justify-center w-[45px] h-[45px] rounded-full bg-[#F2F3F3] transition-all duration-300 ease-in-out;
  }

  .founder-wrapper .item .content .social ul a:hover {
    @apply bg-black;
  }

  .founder-wrapper .item .content .social ul a:hover svg {
    @apply fill-[#EE2720];
  }

  .founder-wrapper .item .content .social ul a svg {
    @apply text-[20px] transition-all duration-300 ease-in-out;
  }

  .founder-wrapper .item .info {
    @apply flex flex-col gap-[5px];
  }

  .founder-wrapper .item .info h3 {
    @apply text-[22px] font-bold leading-none;
  }

  .founder-wrapper .item .info p {
    @apply text-[20px] font-normal leading-none;
  }

  .founder-wrapper .item img {
    @apply mt-[-20px];
  }

  #founder-box {
    @apply flex flex-col gap-[50px];
  }

  .build-img {
    @apply bg-gradient-to-b from-[#F2481A] to-[#F67112] shadow-[0_0_7px_1px_rgba(0,0,0,0.25)] rounded-[20px];
  }

  .build-img img {
    @apply -mt-10 h-[110%] object-cover;
  }

  .about-gallery .swiper-slide {
    @apply relative overflow-hidden rounded-[10px];
  }

  .about-gallery .swiper-slide::before {
    content: "";
    @apply absolute left-0 top-0 w-full h-full transition-all duration-300 ease-in-out opacity-0 cursor-pointer;
    background: linear-gradient(180deg, rgba(242, 72, 26, 0.75) 0%, rgba(246, 113, 18, 0.75) 100%);
    pointer-events: none;
  }

  .about-gallery .swiper-slide:hover::before {
    @apply opacity-100;
  }

  .about-gallery .swiper-slide::after {
    content: "";
    @apply w-[52px] h-[52px] absolute left-1/2 top-1/2 z-50 cursor-pointer transition-all duration-300 ease-in-out;
    background: url(/gallery-icon.svg) no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
  }

  .about-gallery .swiper-slide:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }

  .galler-pop-up-slider .swiper-slide::after , .galler-pop-up-slider .swiper-slide::before {
    @apply hidden;
  }
  
  .galler-pop-up-slider .close-btn {
      background: #000 !important;
      --size: 50px;
      width: var(--size) !important;
      height: var(--size) !important;
      border-radius: 50% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      color: #fff !important;
      margin: 0 !important;
      padding: 0 0 5px 0 !important;
      line-height: 1 !important;
      font-size: 35px !important;
      z-index: 99 !important;
  }

  .about-gallery :where(.swiper-button-prev, .swiper-button-next) {
      --size: 50px;
      width: var(--size) !important;
      height: var(--size) !important;
      background: #fff !important;
      box-shadow: 0px 0px 3px #00000063 !important;
      border-radius: 50% !important;
      color: #000 !important;
  }

  .about-gallery :where(.swiper-button-prev, .swiper-button-next):after {
      font-size: 22px !important;
  }
  .lightwidget__header {
    justify-content: center !important;
    margin-bottom: 20p !important;
  }

  .swiper-slide.youtube-gallery-item:before,.swiper-slide.youtube-gallery-item:after {
    @apply hidden;
  }

  .toolswrapper .item {
    @apply bg-white shadow-[0_0_7px_rgba(0,0,0,0.25)] rounded-[12px] p-[20px] flex flex-col gap-[15px] h-full;
  }

  .toolswrapper .item p {
    @apply text-gray-600 text-[16px] leading-[1.4em];
  }

  .toolswrapper .item .icon {
    @apply flex items-center gap-[20px];
  }

  .toolswrapper .item .icon h4 {
    @apply font-bold text-[25px];
  }

  .affliate-signup {
    background: linear-gradient(180deg, #F77B10 0%, #F45C17 24.04%, #F35C17 86.3%, #F77B10 100%);
  }

  .circle-wrapper-animated {
    --size: 1280px;
    @apply relative w-[var(--size)] h-[var(--size)];
  }

  .circle-wrapper-animated .circle-one {
    @apply relative border border-white rounded-full;
    width: var(--size);
    height: var(--size);
    border-width: 3px;
    animation: crile-two-animate 60s linear infinite alternate-reverse;
  }

  .circle-wrapper-animated .circle-two {
    --size: 75%;
    @apply absolute border border-white rounded-full top-1/2 left-1/2;
    width: var(--size);
    height: var(--size);
    border-width: 3px;
    transform: translate(-50%, -50%);
    animation: crile-one-animate 80s linear infinite alternate;
  }

  .circle-wrapper-animated .circle-one img {
    @apply absolute;
  }

  .circle-wrapper-animated .circle-one img:nth-child(1) {
    @apply top-[57px] left-[156px];
  }

  .circle-wrapper-animated .circle-one img:nth-child(2) {
    @apply top-[57px] right-[156px];
  }

  .circle-wrapper-animated .circle-two img {
    @apply absolute;
  }

  .circle-wrapper-animated .circle-two img:nth-child(1) {
    @apply top-[-62px] left-1/2;
    transform: translateX(-50%);
  }

  .circle-wrapper-animated .circle-two img:nth-child(2) {
    @apply top-[300px] left-[-46px];
  }

  .circle-wrapper-animated .circle-two img:nth-child(3) {
    @apply top-[300px] right-[-46px];
  }

  .affliate-signup {
    @apply max-h-[1100px] overflow-hidden flex flex-col gap-[80px];
  }

  .circle-text {
    @apply absolute top-[450px] left-1/2;
    transform: translateX(-50%);
  }

  .creator-two-wrapper img {
    @apply w-[200px] ml-auto mb-[-110px];
    transform: translateX(-72px);
  }

  .creator-two-wrapper .item:nth-child(1) div {
    @apply bg-[#F9FAFB] flex flex-col items-start gap-[20px] px-[30px] py-[40px] h-full;
  }

  .creator-two-wrapper .item:nth-child(2) div {
    @apply flex flex-col items-start gap-[20px] bg-[#ECECEC] px-[30px] py-[40px];
  }

  .creator-two-wrapper .item:nth-child(2) img {
    @apply w-[250px] mt-[-75px];
  }

  .insigth {
    @apply flex flex-col items-center gap-[50px];
  }

  .insigth .insight-content-wrapper {
    @apply flex flex-col gap-[20px];
  }

  .insigth .insight-content-wrapper .itme {
    @apply flex justify-between items-center gap-[30px] px-[20px] py-[10px] rounded-[8px] shadow-[0px_0px_2px_#00000042];
  }

  .insigth .insight-content-wrapper .itme p {
    @apply text-[17px];
  }

  .twiter-image {
    @apply flex flex-col gap-[50px];
  }

  .twiter-image img {
    @apply w-[800px] mx-auto;
  }

  .ucg-bussiness-community .contentwrapper-inner {
    @apply flex flex-col items-center;
  }

  .list-wrapper .item ul li {
    @apply relative pl-[1.5rem] py-[0.25rem] text-[15px] leading-[24px];
  }

  .list-wrapper .item ul li::before {
    @apply absolute left-0 top-[8px] h-[15px] w-[15px] bg-no-repeat;
    background-image: url(/blog/right-arrow.png);
    background-size: 15px;
    --tw-content: '';
    content: var(--tw-content);
  }

  .list-wrapper .item {
    @apply bg-[#F9FAFB] p-[20px];
  }

  .list-wrapper .item:nth-child(2) {
    @apply bg-[#fff];
  }

  .uscgmemes p {
    @apply flex items-center justify-center gap-[10px];
  }

  .uscgmemes p span a {
    @apply flex items-center relative gap-[3px];
  }

  .uscgmemes p span a img {
    @apply w-[22px];
  }

  .uscgmemes p span a::before {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-[1px] bg-white;
  }

  .gif-image {
    -webkit-box-shadow: 0px 0px 3px 1px #00000075;
    box-shadow: 0px 0px 3px 1px #00000075;
  }

  .ucg-bussiness-community h2 {
    font-size: 40px;
  }

  #watch-our-story {
    @apply relative;
  }

  #watch-our-story::before {
    content: "";
    @apply absolute left-0 top-0 w-full z-[1];
    height: 20%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }

  #watch-our-story::after {
    content: "";
    @apply absolute left-0 bottom-0 w-full z-[1];
    height: 20%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }

}

/* responsive */

@media (max-width: 600px) {

  .aboutbanner h2 {
    @apply  text-[30px]
  }

  .aboutbanner {
    @apply  min-h-[250px]
  }

  .blog-wrapper {
    @apply flex-col
  }

  .blog-sidebar {
    @apply w-full px-[30px] py-[30px];
  }

  .blog-main-body {
    @apply w-full py-[40px] px-[0px];
  }

  .blog-cat-list li+li+li+li+li {
    @apply hidden;
  }

  .blog-main-body .leading-none {
    @apply text-[30px];
  }

  .blog-main-body p {
    @apply text-[14px] leading-[1.4em];
  }

  .blog-main-body .main-category-thumbnail {
    @apply grid grid-cols-2;
  }

  .blog-main-body .main-category-thumbnail .blog-box img {
    @apply h-[120px];
  }

  .blog-main-body .main-category-thumbnail .blog-box h6 {
    @apply text-[11px];
  }

  .blog-main-body .main-category-thumbnail .blog-box h2 {
    @apply text-[12px] leading-[1.3em];
  }

  .blog-main-body .main-category-thumbnail .blog-box p {
    @apply text-[11px];
  }

  .blog-topic-list li {
    @apply text-[13px];
  }

  .blog-cat-list {
    @apply text-[14px] leading-[1.3em];
  }

  .blog-main-body h1 {
    @apply text-[22px] leading-[1.2em] pt-[4px];
  }

  .blog-main-body .blog_breadcrums {
    @apply text-[14px];
  }

  .blog-main-body h3 {
    @apply text-[16px];
  }

  .blog_data ul li {
    @apply text-[13px] leading-[1.4em];
  }

  .blog_data ul li::before {
    --size: 12px;
    width: var(--size);
    height: var(--size);
    background-size: var(--size);
    content: "";
    display: inline-block;
    @apply mr-2;
  }

  ul.blog-author_date {
    @apply flex;
  }

  .blog-author_date li {
    @apply text-[14px] flex items-center;
  }

  .blog-author_date li:first-child {
    @apply text-[14px];
  }

  .creue-cto {
    @apply py-[50px] min-h-[0px];
  }

  .creue-cto .cta-form h3 {
    @apply text-[25px] leading-[1.2em];
  }

  .creue-cto .cta-form p {
    @apply max-w-[97%] text-[14px] leading-[1.4em];
  }

  #timeline h2 {
    @apply text-[26px] mb-[14px];
  }

  #timeline p {
    @apply text-[15px] leading-[1.4em] p-0 max-w-[90%] mx-auto;
  }

  #timeline .mb-16 {
    @apply m-0;
  }

  #timeline .relative.min-h-\[200vh\] .relative {
    @apply mt-[8px] pb-0;
  }

  #timeline .flex.items-center .rounded-full {
    @apply w-[43px] h-[43px] max-w-[43px] max-h-[43px] min-w-[43px] min-h-[43px];
  }

  #timeline .block.mb-4.lg\:hidden.font-bold.transition-all.duration-500.text-3xl.text-gray-900 {
    @apply text-[22px] mb-[8px];
  }

  #timeline h3 {
    @apply text-[16px] leading-[1.2em];
  }

  #timeline .grid.gap-4 {
    @apply mt-[20px];
  }

  #timeline h4 {
    @apply text-[16px];
  }

  #timeline .bg-white.rounded-2xl.p-8.shadow-xl.transition-all.duration-500.ml-8.opacity-100.translate-y-0.scale-95 {
    @apply p-[25px_20px];
  }

  .mb-menu {
    @apply fixed top-0 right-0 w-[85%] h-screen bg-white flex flex-col gap-2 px-3 pb-[20px] transition-all duration-300 ease-in-out translate-x-full;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mb-menu :where(button, a) {
    @apply bg-[#f8f8f8] w-full flex items-center justify-start m-0 px-[13px] py-[11px] rounded text-black text-base;
    box-shadow: rgba(0, 0, 0, 0.12) -1px 1px 0px;
  }

  .mb-menu button:nth-last-child(1) {
    @apply bg-[#ee2720] text-white justify-center;
  }

  .mb-menu.open {
    @apply translate-x-0;
    box-shadow: -100px 0px 0px #0000007a;
  }

  .menuopenbtn {
    @apply w-[53px] h-[31px] bg-[#ee2d1e] rounded-[5px];
  }

  .menuopenbtn img {
    @apply w-full h-full;
  }

  .menuclosebtn {
    @apply absolute w-[50px] h-[31px] bg-[#ee2720] rounded-[5px] p-[3px] top-[15px] right-[15px];
  }

  .menuclosebtn img {
    @apply w-full h-full;
  }

  .logo-mb a {
    all: unset; /* This is a native CSS reset, not supported by @apply */
  }

  .logo-mb {
    @apply my-[20px] mb-[40px] w-full;
  }

  .logo-mb,
  .menuclosebtn,
  .menuopenbtn {
    @apply block;
  }

  .features-ct-hd {
    @apply text-[30px];
  }

  .features-ct-hd br {
    @apply hidden;
  }

  .features-ct-sub-hd {
    @apply text-sm;
  }

  #features .space-y-32 {
    @apply flex flex-col gap-[60px];
  }

  #features .space-y-32 .grid-cols-1 {
    @apply gap-[22px] m-0;
  }

  #features .space-y-32 .grid-cols-1 h2 {
    @apply text-[25px] m-0 leading-none;
  }

  #features .space-y-32 .grid-cols-1 p {
    @apply text-[15px] leading-[1.5em] my-[15px];
  }

  #features .space-y-32 .grid-cols-1 button {
    @apply text-sm px-4 py-2;
  }

  #features .space-y-32 .bg-gradient-to-br {
    @apply p-[18px];
  }

  #popularniches h2 {
    @apply text-[30px] px-[20px];
  }

  .niches-slider .item h3 {
    @apply text-[18px];
  }

  .niches-slider :where(.swiper-button-prev, .swiper-button-next) {
    @apply w-[30px] h-[30px] !important;
  }

  .niches-slider :where(.swiper-button-prev, .swiper-button-next)::after {
    @apply text-[12px] !important;
  }

  .new-testimonail-slider-wrapper .shadow-md {
    @apply w-[300px];
  }

  .new-testimonail-slider-wrapper:before, .new-testimonail-slider-wrapper:after {
    @apply w-[15%];
  }

  #gif {
    @apply max-w-[95%] rounded-[15px] flex flex-col-reverse p-[40px_20px] mx-auto mb-[30px] gap-[20px];
  }

  #gif h2 {
    @apply m-0 text-[30px] leading-none;
  }

  #gif p {
    @apply max-w-full text-[15px] leading-[1.4em] my-[15px];
  }

  #faqs .bg-white.rounded-3xl.p-8.md\:p-12 {
    @apply mx-auto max-w-[95%] rounded-[15px] p-[40px_20px];
  }

  .homeblog .blog-wrapper .main-category-thumbnail {
    @apply grid grid-cols-2;
  }

  footer .flex.space-x-8.mt-8 {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }

  footer .flex.space-x-8.mt-8 button {
      margin: 0;
  }

  .homeblogheading h2 {
    @apply text-[11px];
  }

  .homeblogheading p {
    @apply text-[20px] leading-none m-0;
  }

  .homeblogheading button {
    @apply text-[13px] px-[20px] py-[10px] leading-none;
  }

  .founder-wrapper {
    @apply flex flex-col max-w-[90%];
  }

  #creator-economy {
    @apply flex flex-col;
  }

  #creator-economy .creator-enomu-value {
    @apply gap-[50px];
  }

  #creator-economy .creator-enomu-value .item-box {
    @apply flex flex-col items-center justify-center gap-[10px];
  }

  #creator-economy .creator-enomu-value .item-box img {
    @apply w-[80px];
  }

  #creator-economy .creator-enomu-value .item-box .content {
    @apply flex items-center justify-center;
  }

  #creator-economy .creator-enomu-value .item-box .content h4 {
    @apply text-[20px];
  }

  #creator-economy .creator-enomu-value .item-box .content h5 {
    @apply text-[22px];
  }

  .about-gallery :where(.swiper-button-prev, .swiper-button-next) {
    --size: 25px;
  }

  .about-gallery :where(.swiper-button-prev, .swiper-button-next):after {
      font-size: 10px !important;
  }

  .galler-pop-up-slider .close-btn {
    --size: 30px;
    font-size: 16px !important;
    padding: 0 0 2px 0 !important;
  }

  .whatmakewovvo .text-center.mx-auto p {
    font-size: 30px;
  }

  .affliate-signup {
      position: relative;
      min-height: 550px;
  }

  .affliate-signup p {
      max-width: 100%;
  }

  .circle-wrapper-animated {
      position: absolute;
      left: 50%;
      top: 88%;
      transform: translate(-50%, -50%) scale(0.25);
  }

  .circle-text {
      transform: translateX(-50%) scale(1.7);
      top: 551px;
  }

  .creator-two-wrapper img {
      margin-bottom: -45px;
      transform: translate(0);
      margin-left: 0;
      position: relative;
      z-index: 5;
  }

  .creator-two-wrapper .item div {
      position: relative;
      z-index: 1;
  }

  .creator-two-wrapper .gradient-text.text-\[65px\] {
      font-size: 30px;
  }

  .creator-two-wrapper .item:nth-child(1) div {
      padding: 22px 11px;
      position: relative;
      z-index: 1;
  }

  .creator-two-wrapper .item:nth-child(2) div {
      padding: 22px 11px;
      position: relative;
      z-index: 1;
  }

  .insigth .insight-content-wrapper .itme p {
      font-size: 14px;
  }

  .ucg-bussiness-community {
      max-width: 90%;
  }

  .ucg-bussiness-community h2 {
      font-size: 27px;
      line-height: 1.2em;
  }

  .ucg-bussiness-community h2 br {
      display: none;
  }

  .ucg-bussiness-community button {
      font-size: 16px;
  }

  .list-wrapper {
      width: 95%;
  }

  .uscgmemes p {flex-wrap: wrap;}

  .comunitymember .text-4xl.font-bold.sm\:text-4xl.text-center.px-4.md\:px-8 {
      font-size: 30px;
  }

  .creator-two-wrapper .item div p:nth-child(1) {
    font-size: 30px;
  }

  .creator-two-wrapper .item div p:nth-child(1) span {
      font-size: 25px;
  }
  .socila-prof-mb-img{
    object-position: top center !important;
  }

}